@page
@model DetailModel

<h2>@Model.Recipe.Title</h2>
<img src="@Model.Recipe.ImageUrl" alt="Obrazek receptu">
<p>@Model.Recipe.Description</p>

<h3>Recenze</h3>
@if (Model.Reviews != null)
{
    @foreach (var review in Model.Reviews)
    {
        <p>@review.User.UserName
            : @review.Comment
            (@review.Rating
            / 5)</p>
    }
}
@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <div class="form-group">
            <label asp-for="NewReview.Comment"></label>
            <input asp-for="NewReview.Comment" class="form-control" />
            <span asp-validation-for="NewReview.Comment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewReview.Rating"></label>
            <input asp-for="NewReview.Rating" class="form-control" type="number" min="1" max="5" />
            <span asp-validation-for="NewReview.Rating" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add Review</button>
    </form>

}

