@page
@model DetailModel

<h2>@Model.Recipe.Title</h2>
<img src="@Model.Recipe.ImageUrl" alt="Obrazek receptu">
<p>@Model.Recipe.Description</p>

<h3>Recenze</h3>
@if (Model.Reviews != null)
{
    @foreach (var review in Model.Reviews)
    {
        <p>@review.User.UserName
            : @review.Comment
            (@review.Rating
            /5)</p>
    }
}
@if (User.Identity.IsAuthenticated)
{
    <form method="post">
        <input asp-for="NewReview.Comment" class="form-control" />
        <input asp-for="NewReview.Rating" class="form-control" type="number" min="1" max="5" />
        <button type="submit">Přidat recenzi</button>
    </form>
}
